<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179190329191-nb3kgn2sn7b5ou3oepefncqcg5tevj6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179190329191-nb3kgn2sn7b5ou3oepefncqcg5tevj6b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179190329191-f1fq2t9h7ntr8nm43kn6ap68tr9bt7hc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk1ZSNtPD_7jlV7lqR8k5FnoSLebFUBu0</string>
	<key>GCM_SENDER_ID</key>
	<string>179190329191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.authentication.demo</string>
	<key>PROJECT_ID</key>
	<string>authentication-demo-315705</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-demo-315705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179190329191:ios:542ea21984f3de096049c2</string>
</dict>
</plist>